.grid {
  display: grid;
  flex-wrap: nowrap;
  grid-gap: 8px;
  grid-template-columns: repeat(12, 1fr);
  margin-left: 0;
  margin-right: 0;
}
.grid-col {
  width: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 600px) {
  .grid-col {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.grid-col-12 {
  grid-column: span 12;
}


