<div class="comments-header">
  <div class="comments-count">Comments</div>
  <div class="comments-sort">
    Sort: <span id="sort-btn-likes">Likes</span> | <span id="sort-btn-newest">Newest</span>
  </div>
</div>
<ul class="comments-list">
  <li>Loading...</li>
</ul>